

.delete-btn,
.edit-btn {
    padding: 0;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 13px;
    line-height: 1.4;
    min-height: 36px;
    font-weight: 500;
    min-width: 36px;
    padding: 9px 10px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    margin: 0 15px 10px 0;
}

.edit-btn {
    padding: 11px 16px;
}
 
.delete-btn:hover,
.edit-btn:hover {
    transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),opacity 150ms ease-out;
    background-color: rgba(128, 128, 128, .1);
    border-radius: 24px;
}

#form-h2 {
    font-size: 20px;
    line-height: 28px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 500;
}

/* .required-field::after{
    content: "*";
    color: rgb(217, 10, 10);
} */


    .text-area,
    .title-input {
        box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
        border-color: rgba(34, 34, 34, 0.15);
        border-style: solid;
        border-width: 1px;
        border-radius: 6px;
        color: #222222;
        font-family: inherit;
        font-size: 16px;
        line-height: 28px;
        height: 10px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 12px;
        padding-right: 12px;
        width: 94%;
        min-width: 0;
        margin-bottom: 15px;
    }

    .text-area {
        resize: none;
        height: 50px;
      
    }
    .sign-up-form,
    form.style-form {
        border: 2px solid rgb(222,222,222);
        padding: 20px;
        border-radius: 24px;
    }

    .input-lable {
        margin-left: 2px;
    }

    .submit-btn-div {
    display: flex;
    justify-content: center;
    }

    #demo-btn,
    #login-btn,
    .submit-btn {
        border-radius: 24px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        border: none !important;
    }
    #demo-btn:hover,
    #login-btn:hover,
    .submit-btn:hover{
        background-color: rgba(158, 158, 158, .5);
    }

    #demo-btn,
    #login-btn {
        margin-bottom: 10px;
        text-align: center;
        align-self: center;
        width: 350px;
    }

    .sign-up-form,
    .login-div-style {
        border: 2px solid rgb(222,222,222);
        padding: 20px;
        border-radius: 24px;
        margin-top: 5%;
        width: 300px;
        height: 300px;
    }

    .sign-up-form {
        height: 590px;
        /* height: initial !important; */
        overflow: initial !important;
    }

    .form-btn-login {
        display: flex;
        justify-content: center;
    }
    #sign-up-div,
    #login-form-div {
        display: flex;
        justify-content: center;
    }

  
    .each-error-div {
        font-size: 12px;
        color:rgb(217, 10, 10);
    }