* {
    font-family:sans-serif;
}

#nav-ul {
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    /* list-style-type: none; */
    padding: 0;
    /* align-self: center; */
    margin-top: 0;
}

#search-input {
    height: 30px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
}

#nav-search {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* margin-left: 35vw; */
}

nav {
    width: 100%;
    background-color: black;
}

/* .active {
    border-bottom: #6230C5 5px solid;
} */

a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    padding-bottom: 0px;
    font-weight: 700;
}

#nav-logo {
 /* justify-content: flex-end; */
 height: 90px;
 width: 130px;
 margin-left: 25px;
 /* margin-top: 25px; */
}

#nav-div {
    display:flex;
    justify-content: center;
}

.nav-categories {
    display:flex;
    /* flex-direction:row; */
    width: 100vw;
}

#add-product {
align-self: center;
font-size: 15px;
}

#add-product a:hover {
    text-decoration:underline;
    text-decoration-color: #6230C5;
    text-decoration-thickness:3px;
}

#add-product a:focus {
    text-decoration: none;
}

#logout {
    padding: 5px;
}

#cart-icon img {
    height: 30px;
    width: 30px;
    align-self: center;
    padding: 5px;
}

.nav-category-links {
    justify-content:center;
    display:flex;
    width: 100vw;
    padding: 5px;
}

.nav-category-links a:hover {
    text-decoration:underline;
    text-decoration-color: #6230C5;
    /* text-decoration-line: underline; */
    text-decoration-thickness:3px;
}