#product-image {
    height: 1000px;
    width: 100%;
    margin-left: 2%;
}


#product-detail-div {
    display: flex;
    flex-direction: row;
    margin: 2% 18%;
}


#right-detail-div {
    border: 3px solid green;
    width: 30%;
}

#left-detail-div {
    width: 70%;
}

.review-label {
    margin: 30px 0 25px 2%;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 300;
    letter-spacing: 0.35px;
}

#product-review-h4 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    line-height: 18px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.1px;
    display: inline;
    margin: 0;
    margin-right: 3px;
}

#product-review-p {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

#product-review-heading {
    margin-left: 2%;
    display: flex;
}

#product-review-h5 {
    margin-left: 2%;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
}

#line-div-gray {
    border-bottom: 3px solid rgb(222,222,222);
    margin: 0 2%;
    margin-bottom: 30px;
}

#review-content-div {
    margin-left: 2%;
    margin-bottom: 15px;
}

#user-profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 6px 15px 0 0;
}

#user-info-review {
    display: flex;
    justify-content: column;
}

#username-p-line {
    border-bottom: #595959 1px solid;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #B5B5B5;
}


.title-p {
    margin-left: 55px;
}

.content-p {
    margin-left: 55px;
    /* border: thin solid black; */
    text-align: justify;
    width: 600px;
    height: 58px;
    overflow-wrap: break-word;
    inline-size: 600px;

    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
    text-overflow: ellipsis;
    overflow: hidden;
}

#developer-name {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

#product-name {
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 300;
    letter-spacing: 0.35px;
    font-size: 20px;
    line-height: 32px;
}

#product-price-p {
    font-size: 30px;
    line-height: 36px;
}