footer {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer-links {
    font-size: 15px;
    color: white;
    font-weight: 300;
    padding-top: 12px;
}

#footer {
    position:fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
}